{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/connexionRegistration.css') }}">{% endblock %}

{% block title %}Page de connexion{% endblock %}

{% block body %}
<div class="main_container">
    {% include "shared/_msgFlash.html.twig" %}
    <form method="post" class="cr_form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="cr_title">Connectez vous !</h1>
        <label class="cr_label" for="inputEmail">Adresse mail :</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="cr_input" autocomplete="email" required autofocus>
        <label class="cr_label" for="inputPassword">Mot de passe :</label>
        <input type="password" name="password" id="inputPassword" class="cr_input" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <button class="cr_button" type="submit">Se connecter</button>
        <p class="cr_redirect">Vous n'avez pas de compte ? <a class="rc_redirect" href="{{ path('app_register') }}">Inscrivez vous !</a></p>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        
    </form>
</div>
{% endblock %}
