{% extends 'base.html.twig' %}

{% block title %}Créer une catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie musicale</h1>

    {{form_start(formview)}}
    {{form_errors(formview)}}

    <div class="row">
        <div class="col">
            {{form_row(formview.category)}}
        </div>
    </div>

    <button class="btn btn-primary">
        <i class="fas fa-save"> Créer la catégorie</i>   
    </button>
    {{ form_rest(formview) }}
    {{form_end(formview)}}
{% endblock %}
