{% extends "base.html.twig" %}

{% block title %}
    Ajouter nouvelle musique
{% endblock %}

{% block body %}
    <h1>Ajouter nouvelle musique</h1>

    {{form_start(formview)}}
    {{form_errors(formview)}}

    <div class="row">
        <div>
            {{form_row(formview.name)}}
            {{form_row(formview.url)}}


            {{form_row(formview.category)}}
        </div>
    </div>

    <button class="btn btn-primary">
        <i class="fas fa-save">Ajouter</i>   
    </button>

    {{form_end(formview)}}
{% endblock %}