{% extends 'base.html.twig' %}

{% block title %}Profil artiste{% endblock %}

{% block body %}
    <h1>Profil artiste de {{ artist.name }}</h1>

    <p>Image de l'artiste :</p>
    <img src="{{ artist.img }}" alt="image artiste">

    {{form_start(formview)}}
    {{form_errors(formview)}}
    {{form_row(formview.img)}}

    <button class="btn btn-primary">
        <i class="fas fa-save">Envoyer</i>   
    </button>

    {{form_end(formview)}}

    <a href="{{ path('add_music') }}" class="btn btn-primary">Ajouter une musique</a>
    <a href="" class="btn btn primary">Liste de mes musiques</a>

    <a href="{{ path('album_create') }}">Créer un nouvel album</a>
{% endblock %}
